@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-inter);
  --color-imprint: #20614C;
  --color-imprint-hover: #1a5240;
  --color-imprint-light: #CBE7E4;
  --color-imprint-bg: #F7F8F9;
  --color-imprint-surface: #FFFFFF;
  --color-imprint-dark: #10130C;
  --color-imprint-muted: #524D57;
  --color-imprint-border: #E3E4E5;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #CBE7E4 transparent;
}
